{% extends "home/base.html" %}

{% block title %}
    <h2>Clientes</h2>
{% endblock title %}

{% block content %}
    <ul>
        {% for cliente in clientes %}
            <li>{{cliente.nombre}} {{cliente.apellido}}</li>
        {% endfor %}
    </ul>
    <p><button><a href="{% url 'cliente:crear' %}">Crear cliente</a></button></p>
    <p><button><a href="{% url 'cliente:crear_pais' %}">Crear país</a></button></p>
    <p><button><a href="{% url 'cliente:crear-compra' %}">Registrar compra</a></button></p>
    <p><button><a href="{% url 'home:index' %}">Home</a></button></p>
{% endblock content %}