{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>El Ático de Drake</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="home/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <nav>
            {% include "home/navbar.html" %}
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            {% block title %}
            
            {% endblock title %}            
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/imagenes/atico_drake.jpg' %}" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Bienvenido al Ático de Nathan Drake</h1>
                    <p>Este es el sitio de venta de las antigüedades exóticas conseguidas por Nathan en sus aventuras, desde el hallazgo de el Dorado, hasta la busqueda del tesoro de Henry Avery.</p>
                    <a class="btn btn-primary" href="{% url "home:productos" %}">Ver productos</a>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Este es nuestro listado de productos disponibles actualmente:</p></div>
            </div>
            <!-- Content Row-->
            {% include "home/card.html" with tarjeta="tarjeta1" %}
            {% include "home/card.html" with tarjeta="tarjeta2" %}
                {% include "home/card.html" with tarjeta="tarjeta3" %}
        </div>
        
        <!-- Footer-->
        {% include "home/footer.html" %}
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
